.sendForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 54px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.textarea {
    padding-top: 8px;
    padding-left: 20px;
    width: 85%;
    background: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-color: #1D212619;
    border-radius: 20px;
    min-height: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;

}

.textarea::placeholder {
    padding-top: 2px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
}

.button {
    height: 40px;
    width: 120px;
    background: #0066CC;
    border: 0;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.button:hover {
    background: #0059b4;
}
.button:active {
    background: #01468f;
}
