.button {
    width: 132px;
    height: 30px;
    border-radius: 3px;
    border: 0;
    font-family: 'Montserrat';
    background: #0066CC;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.disabled {
    background: #004D99!important;
    opacity: 0.5;
    color: #002E5C;
}

.secondary {
    border: 1px #0066CC solid;
    background: #FFFFFF;
    color: #0066CC;
}

.default {

}

.red {
    background-color: #CC1439;
}

.default:hover {
    background: #0f559a;
}

.red:hover {
    background-color: #a2112e;
}

.secondary:hover {
    background: #E5F0FA;
}


.default:active {
    background: #0a437c;
}

.secondary:active {
    background: #bfc6d0;
}

.red:active {
    background-color: #750c20;
}

.button:disabled {

}
